In [6]:
#Descriptive Statistics
#In measures of central tendancy 
#Mean, Median & Mode

# Measures of Central Tendancy

In [7]:
import pandas as pd
data = pd.read_excel('Assignment 18.04.2023.xlsx')
data

,Example 1,Example 2,Example 3,Example 4,Example 5,Example 6,Example 7,Example 8,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,1.0,1.0,1.0,1.0,1,1.0,2.0,2.0,NaN,NaN,Measures of Central Tendancy &Measures of Di...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,1.0,2.0,2,1.0,2.0,2.0,NaN,NaN,Example 1,Example 2,Example 3,Example 4,Example 5,Example 6,Example 7,Example 8
2,2.0,2.0,2.0,2.0,2,2.0,2.0,2.0,NaN,Mean,3.2,12,20.333333,26.923077,382.142857,2,2,1668.333333
3,2.0,2.0,2.0,3.0,3,2.0,2.0,2.0,NaN,Median,3,3,3.5,6,6,2,2,2
4,3.0,3.0,3.0,4.0,4,4.0,2.0,2.0,NaN,Mode,1,1,1,6,6,1,2,2
5,3.0,3.0,3.0,5.0,5,NaN,NaN,10000.0,NaN,Variance,3.066667,854.6,1610.242424,3404.74359,1769678.131868,1.5,0,16660000.666667
6,4.0,4.0,4.0,6.0,6,NaN,NaN,NaN,NaN,Stdev,1.75119,29.233542,40.127826,58.350181,1330.292499,1.224745,0,4081.666408
7,5.0,5.0,5.0,6.0,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,5.0,5.0,5.0,6.0,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,6.0,6.0,6.0,7.0,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,100.0,100.0,8.0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,112.0,100.0,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,200.0,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#mean

import numpy as np
a=[1,1,2,2,3,3,4,5,5,6]

#using numpy
np.mean(a)

3.2

In [9]:
print("mean :",np.mean(a))

mean : 3.2

In [11]:
#created the list into the data form
import pandas as pd
b=pd.DataFrame(data={'values':[1,1,2,2,3,3,4,5,5,6]})
b

   values
0       1
1       1
2       2
3       2
4       3
5       3
6       4
7       5
8       5
9       6

In [12]:
#mean using pandas
b.mean()

values    3.2
dtype: float64

In [13]:
b.describe()

         values
count  10.00000
mean    3.20000
std     1.75119
min     1.00000
25%     2.00000
50%     3.00000
75%     4.75000
max     6.00000

In [15]:
#median
import numpy as np
a=[1,1,2,2,3,3,4,5,5,6]

#using numpy
np.median(a)

3.0

In [16]:
print("median :",np.median(a))

median : 3.0

In [17]:
#using pandas
b.median()

values    3.0
dtype: float64

In [18]:
b.describe()

         values
count  10.00000
mean    3.20000
std     1.75119
min     1.00000
25%     2.00000
50%     3.00000
75%     4.75000
max     6.00000

In [ ]:
#mode
#numpy does not has an attribute mode

In [19]:
#using pandas
b.mode()

   values
0       1
1       2
2       3
3       5

In [ ]:
#Descriptive Statistics
#In measures of dispersion
#variance,standard deviation

# Measures of Dispersion

In [21]:
#variance
a=[1,1,2,2,3,3,4,5,5,6]

#using numpy
np.var(a)

2.7600000000000002

In [22]:
print('Variance :',np.var(a))

Variance : 2.7600000000000002

In [23]:
#using pandas
b.var()

values    3.066667
dtype: float64

In [38]:
#standard deviation
a=[1,1,2,2,3,3,4,5,5,6]

#using numpy
np.std(a)

1.661324772583615

In [39]:
print('Standard deviation :',np.std(a))

Standard deviation : 1.661324772583615

In [26]:
#using pandas
b.std()

values    1.75119
dtype: float64

# Example 2

In [27]:
#mean

import numpy as np
a=[1,1,2,2,3,3,4,5,5,6,100]

#using numpy
np.mean(a)

12.0

In [28]:
print("mean :",np.mean(a))

mean : 12.0

In [29]:
#created the list into the data form
import pandas as pd
b=pd.DataFrame(data={'values':[1,1,2,2,3,3,4,5,5,6,100]})
b

    values
0        1
1        1
2        2
3        2
4        3
5        3
6        4
7        5
8        5
9        6
10     100

In [30]:
#mean using pandas
b.mean()

values    12.0
dtype: float64

In [31]:
#median
import numpy as np
a=[1,1,2,2,3,3,4,5,5,6,100]

#using numpy
np.median(a)

3.0

In [32]:
print("median :",np.median(a))

median : 3.0

In [33]:
#using pandas
b.median()

values    3.0
dtype: float64

In [ ]:
#mode
#numpy does not has an attribute mode

In [34]:
#using pandas
b.mode()

   values
0       1
1       2
2       3
3       5

In [35]:
#variance
a=[1,1,2,2,3,3,4,5,5,6,100]

#using numpy
np.var(a)

776.9090909090909

In [36]:
print('Variance :',np.var(a))

Variance : 776.9090909090909

In [37]:
#using pandas
b.var()

values    854.6
dtype: float64

In [40]:
#standard deviation
a=[1,1,2,2,3,3,4,5,5,6,100]

#using numpy
np.std(a)

27.873089009097843

In [41]:
print('Standard deviation :',np.std(a))

Standard deviation : 27.873089009097843

In [42]:
#using pandas
b.std()

values    29.233542
dtype: float64

# Example 3

In [43]:
#mean

import numpy as np
a=[1,1,2,2,3,3,4,5,5,6,100,112]

#using numpy
np.mean(a)

20.333333333333332

In [44]:
print("mean :",np.mean(a))

mean : 20.333333333333332

In [78]:
#created the list into the data form
import pandas as pd
b=pd.DataFrame(data={'values':[1,1,2,2,3,3,4,5,5,6,100,112]})
b

    values
0        1
1        1
2        2
3        2
4        3
5        3
6        4
7        5
8        5
9        6
10     100
11     112

In [46]:
#mean using pandas
b.mean()

values    12.0
dtype: float64

In [47]:
#median
import numpy as np
a=[1,1,2,2,3,3,4,5,5,6,100,112]

#using numpy
np.median(a)

3.5

In [48]:
print("median :",np.median(a))

median : 3.5

In [49]:
#using pandas
b.median()

values    3.0
dtype: float64

In [50]:
#mode
#numpy does not has an attribute mode

In [51]:
#using pandas
b.mode()

   values
0       1
1       2
2       3
3       5

In [52]:
#variance
a=[1,1,2,2,3,3,4,5,5,6,100,112]

#using numpy
np.var(a)

1476.0555555555557

In [53]:
print('Variance :',np.var(a))

Variance : 1476.0555555555557

In [54]:
#using pandas
b.var()

values    854.6
dtype: float64

In [55]:
#standard deviation
a=[1,1,2,2,3,3,4,5,5,6,100,112]

#using numpy
np.std(a)

38.41946844446908

In [56]:
print('Standard deviation :',np.std(a))

Standard deviation : 38.41946844446908

In [57]:
#using pandas
b.std()

values    29.233542
dtype: float64

# Example 4

In [58]:
#mean

import numpy as np
a=[1,2,2,3,4,5,6,6,6,7,8,100,200]

#using numpy
np.mean(a)

26.923076923076923

In [59]:
print("mean :",np.mean(a))

mean : 26.923076923076923

In [77]:
#created the list into the data form
import pandas as pd
b=pd.DataFrame(data={'values':[1,2,2,3,4,5,6,6,6,7,8,100,200]})
b

    values
0        1
1        2
2        2
3        3
4        4
5        5
6        6
7        6
8        6
9        7
10       8
11     100
12     200

In [61]:
#mean using pandas
b.mean()

values    12.0
dtype: float64

In [62]:
#median
import numpy as np
a=[1,2,2,3,4,5,6,6,6,7,8,100,200]

#using numpy
np.median(a)

6.0

In [63]:
print("median :",np.median(a))

median : 6.0

In [64]:
#using pandas
b.median()

values    3.0
dtype: float64

In [ ]:
#mode
#numpy does not has an attribute mode

In [65]:
#using pandas
b.mode()

   values
0       1
1       2
2       3
3       5

In [70]:
#variance
a=[1,2,2,3,4,5,6,6,6,7,8,100,200]

#using numpy
np.var(a)

3142.84023668639

In [67]:
print('Variance :',np.var(a))

Variance : 1476.0555555555557

In [68]:
#using pandas
b.var()

values    854.6
dtype: float64

In [71]:
#standard deviation
a=[1,2,2,3,4,5,6,6,6,7,8,100,200]

#using numpy
np.std(a)

56.0610402747433

In [72]:
print('Standard deviation :',np.std(a))

Standard deviation : 56.0610402747433

In [73]:
#using pandas
b.std()

values    29.233542
dtype: float64

# Example 5

In [74]:
#mean

import numpy as np
a=[1,2,2,3,4,5,6,6,6,7,8,100,200,5000]

#using numpy
np.mean(a)

382.14285714285717

In [75]:
print("mean :",np.mean(a))

mean : 382.14285714285717

In [76]:
#created the list into the data form
import pandas as pd
b=pd.DataFrame(data={'values':[1,2,2,3,4,5,6,6,6,7,8,100,200,5000]})
b

    values
0        1
1        2
2        2
3        3
4        4
5        5
6        6
7        6
8        6
9        7
10       8
11     100
12     200
13    5000

In [79]:
#mean using pandas
b.mean()

values    20.333333
dtype: float64

In [80]:
#median
import numpy as np
a=[1,2,2,3,4,5,6,6,6,7,8,100,200,5000]

#using numpy
np.median(a)

6.0

In [81]:
print("median :",np.median(a))

median : 6.0

In [82]:
#using pandas
b.median()

values    3.5
dtype: float64

In [83]:
#using pandas
b.mode()

   values
0       1
1       2
2       3
3       5

In [84]:
#variance
a=[1,2,2,3,4,5,6,6,6,7,8,100,200,5000]

#using numpy
np.var(a)

1643272.5510204083

In [85]:
print('Variance :',np.var(a))

Variance : 1643272.5510204083

In [86]:
#using pandas
b.var()

values    1610.242424
dtype: float64

In [87]:
#standard deviation
a=[1,2,2,3,4,5,6,6,6,7,8,100,200,5000]

#using numpy
np.std(a)

1281.9019272239232

In [88]:
print('Standard deviation :',np.std(a))

Standard deviation : 1281.9019272239232

# Example 6

In [89]:
#mean

import numpy as np
a=[1,1,2,2,4]

#using numpy
np.mean(a)

2.0

In [90]:
print("mean :",np.mean(a))

mean : 2.0

In [92]:
#median
import numpy as np
a=[1,1,2,2,4]

#using numpy
np.median(a)

2.0

In [93]:
print("median :",np.median(a))

median : 2.0

In [94]:
#using pandas
b.mode()

   values
0       1
1       2
2       3
3       5

In [95]:
#variance
a=[1,1,2,2,4]

#using numpy
np.var(a)

1.2

In [96]:
print('Variance :',np.var(a))

Variance : 1.2

In [97]:
#standard deviation
a=[1,1,2,2,4]
#using numpy
np.std(a)

1.0954451150103321

In [98]:
print('Standard deviation :',np.std(a))

Standard deviation : 1.0954451150103321

# Example 7

In [99]:
#mean

import numpy as np
a=[2,2,2,2,2]

#using numpy
np.mean(a)

2.0

In [100]:
print("mean :",np.mean(a))

mean : 2.0

In [101]:
#median
import numpy as np
a=[2,2,2,2,2]

#using numpy
np.median(a)

2.0

In [102]:
print("median :",np.median(a))

median : 2.0

In [103]:
#variance
a=[2,2,2,2,2]

#using numpy
np.var(a)

0.0

In [104]:
print('Variance :',np.var(a))

Variance : 0.0

In [105]:
#standard deviation
a=[2,2,2,2,2]
#using numpy
np.std(a)

0.0

In [106]:
print('Standard deviation :',np.std(a))

Standard deviation : 0.0

# Example 8

In [107]:
#mean

import numpy as np
a=[2,2,2,2,2,10000]

#using numpy
np.mean(a)

1668.3333333333333

In [108]:
print("mean :",np.mean(a))

mean : 1668.3333333333333

In [109]:
#median
import numpy as np
a=[2,2,2,2,2,10000]

#using numpy
np.median(a)

2.0

In [110]:
print("median :",np.median(a))

median : 2.0

In [111]:
#variance
a=[2,2,2,2,2,10000]

#using numpy
np.var(a)

13883333.888888886

In [112]:
print('Variance :',np.var(a))

Variance : 13883333.888888886

In [113]:
#standard deviation
a=[2,2,2,2,2,10000]
#using numpy
np.std(a)

3726.0346065071494

In [114]:
print('Standard deviation :',np.std(a))

Standard deviation : 3726.0346065071494