# Inventory

In [10]:
import pandas as pd
dt=pd.read_excel('Inventory (1).xlsx')
dt

,Product Name,Category,Quantity,Price,Amount of Products,Supplier,Order Date
0,"Enermax Note Cards, Premium",Office Supplies,3,45,135,Kathy Robinson,2011-01-01
1,"Dania Corner Shelving, Traditional",Furniture,7,854,5978,Eric Hatchett,2011-01-03
2,"Binney & Smith Sketch Pad, Easy-Erase",Office Supplies,3,140,420,Ashley Upright,2011-01-04
3,"Boston Markers, Easy-Erase",Office Supplies,2,27,54,Christopher Francis,2011-01-04
4,"Eldon Folders, Single Width",Office Supplies,2,17,34,Gregory Williams,2011-01-04
...,...,...,...,...,...,...,...
8042,"Ikea Stackable Bookrack, Traditional",Furniture,2,245,490,Josephine Lee,2014-12-31
8043,"BIC Pencil Sharpener, Fluorescent",Office Supplies,2,30,60,Geri Holston,2014-12-31
8044,"Avery Binder Covers, Recycled",Office Supplies,4,23,92,Oscar Williams,2014-12-31
8045,"StarTech Phone, Red",Technology,3,108,324,John Crenshaw,2014-12-31
8046,"Motorola Audio Dock, VoIP",Technology,5,867,4335,Leonard Angelo,2014-12-31

In [11]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8047 entries, 0 to 8046
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product Name        8047 non-null   object
 1   Category            8047 non-null   object
 2   Quantity            8047 non-null   int64
 3   Price               8047 non-null   int64
 4   Amount of Products  8047 non-null   int64
 5   Supplier            8047 non-null   object
 6   Order Date          8047 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 440.2+ KB

In [12]:
# Total stock
dt.sum()['Quantity']

C:\Users\ALAN PETER\AppData\Local\Temp\ipykernel_65104\1995518905.py:2: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dt.sum()['Quantity']

30354

In [13]:
# Total amount of stock
dt.sum()['Amount of Products']

C:\Users\ALAN PETER\AppData\Local\Temp\ipykernel_65104\1770891386.py:2: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dt.sum()['Amount of Products']

11898983

In [17]:
# Number of Categories
dt['Category'].value_counts()

Office Supplies    5286
Technology         1523
Furniture          1238
Name: Category, dtype: int64

In [20]:
# Number of Suppliers
a=dt.count()['Supplier']
a

8047

In [21]:
# Number of Products in each category
dt['Product Name']['Category'].value_counts()

KeyError: 'Category'

In [27]:
list.pop('Guillermo Plant')
list

TypeError: descriptor 'pop' for 'list' objects doesn't apply to a 'str' object