# Sales Data

In [2]:
import pandas as pd
sales=pd.read_excel('sales data 02-05-2023.xlsx')
sales

,Invoice Number,Date,Time,Zone,Manager,Customer,Product,price,Units Sold,sales
0,102234,2010-01-07,10:25:37.200000,East,Bruce,Polo,A001,485,42,20370
1,102235,2010-01-07,12:00:00,East,Jacob,EEE,B227,292,71,20732
2,102235,2010-01-07,14:19:12,East,Melvin,Marco,A009,544,87,47328
3,102236,2010-01-07,12:57:00,South,Alicia,EEE,D440,385,51,19635
4,102236,2010-01-07,14:51:36,East,Paul,Zee,WP6,173,69,11937
...,...,...,...,...,...,...,...,...,...,...
26078,115273,2018-12-10,11:16:48,West,Melvin,ABC,B229,388,202,78376
26079,115274,2018-12-10,11:16:48,West,Melvin,ABC,B229,388,201,77988
26080,115273,2019-12-10,11:16:48,West,Melvin,ABC,B229,388,500,194000
26081,115273,2019-12-10,11:16:48,West,Melvin,ABC,B229,388,1000,388000
26082,115274,2019-12-10,11:16:48,West,Melvin,ABC,B229,388,1500,582000

In [3]:
sales.info()
# there is no null values in the data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26083 entries, 0 to 26082
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Invoice Number  26083 non-null  int64
 1   Date            26083 non-null  datetime64[ns]
 2   Time            26083 non-null  object
 3   Zone            26083 non-null  object
 4   Manager         26083 non-null  object
 5   Customer        26083 non-null  object
 6   Product         26083 non-null  object
 7   price           26083 non-null  int64
 8   Units Sold      26083 non-null  int64
 9   sales           26083 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 2.0+ MB

In [6]:
# Total sales
sales.sum()['sales']

C:\Users\ALAN PETER\AppData\Local\Temp\ipykernel_22952\1787753732.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  sales.sum()['sales']

1085806200

In [12]:
# Total number of products sold
sales.sum()['Units Sold']

C:\Users\ALAN PETER\AppData\Local\Temp\ipykernel_22952\274286979.py:2: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  sales.sum()['Units Sold']

2961642

In [13]:
# Maximum sales
sales.max()['sales']

582000

In [14]:
# Minimum sales
sales.min()['sales']

865

In [16]:
# Range of sales
a=582000-865
a

581135

In [17]:
# standard deviation of sales
sales.std()['sales']

C:\Users\ALAN PETER\AppData\Local\Temp\ipykernel_22952\3619967846.py:2: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  sales.std()['sales']

30413.734244059717

In [27]:
# Average sales by each zone
sales(by="zone")["sales"].mean()

TypeError: 'DataFrame' object is not callable