# Multiplication

## To multiply 2 numbers

1st assign data into string

input a number

In [1]:
a=2
b=10
c=b*a
c

20

## or

In [2]:
num1=input('first number:')

first number:2

In [3]:
#back slash is given to come to next line
num2=input('\nSecond number:')

Second number:10

In [4]:
#string converting to float
Mul=float(num1)*float(num2)
Mul

20.0

In [5]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the multiplied value of {0} and {1} is {2}'.format(num1,num2,Mul))

the multiplied value of 2 and 10 is 20.0

# Division

## To Divide 2 numbers

1st assign data into string

input a number

In [6]:
a=2
b=10
c=b/a
c

5.0

# or

In [7]:
num1=input('first number:')

first number:10

In [8]:
#back slash is given to come to next line
num2=input('\nSecond number:')

Second number:2

In [9]:
#string converting to float
Div=float(num1)/float(num2)
Div

5.0

In [10]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the divided value of {0} and {1} is {2}'.format(num1,num2,Div))

the divided value of 10 and 2 is 5.0