## Python Indentation

In [51]:
#Python Indentation
#if we give if statement, before printing the we should give space before next code

if 7 > 3:
    print("Seven is greater than three!")

Seven is greater than three!

In [52]:
if 3 > 1:
    print("Three is greater than one!")
if 7 > 5:
    print("Seven is greater than five!")

Three is greater than one!
Seven is greater than five!

## Python Variable Assigning

In [53]:
#Variables in Python
x = 7
y = "Hello"
print(x)
print(y)

7
Hello

## Python Comments

In [54]:
#comments in python
#It is a comment.
"""
This is a comment
written in
more than just one line
"""

'\nThis is a comment\nwritten in\nmore than just one line\n'

## Creating python variables

In [55]:
#Creating variables
x = 3
y = "Johny"

print(x)
print(y)

3
Johny

In [56]:
x = 540       # x is of type int
x = "Kitty"   # x is now of type str
print(x)

Kitty

## Python Casting

In [57]:
#Casting

x = str(12)      # x will be '12'
y = int(12)      # y will be 12
z = float(12)    # z will be 12.0

print(x)
print(y)
print(z)

12
12
12.0

## Getting data type

In [58]:
#get the type
x = 3
y = "Annie"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

## We can use single or double quotes

In [59]:
#Single or Double Quotes?

x = "Johny"
print(x)
# is the same as
x = 'Johny'

print(x)

Johny
Johny

## Case sensitive

In [60]:
#Case-Sensitive

a = 4
A = "Yash"
#A will not overwrite a

print(a)
print(A)

4
Yash

## Variable names should be

In [61]:
## **Python - Variable Names**

#Legal variable names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(my_var)
print(_my_var)

John
John
John

In [62]:
#Illegal variable names:
"""
myvar = "John"
my-var = "John"
my var = "John"
"""

'\nmyvar = "John"\nmy-var = "John"\nmy var = "John"\n'

## Many values to multiple variable

In [63]:
#Many Values to Multiple Variables

a,b,c = "accounting","bank","chemistry"
print(a)
print(b)
print(c)

accounting
bank
chemistry

## One Value to Multiple Variables

In [64]:
#One Value to Multiple Variables
a = b = c = "Data Analysis"
print(a)
print(b)
print(c)

Data Analysis
Data Analysis
Data Analysis

## Unpack a collection

In [65]:
#Unpack a Collection
courses = ["Accounting","Chemistry","Data Analysis"]
a,b,c = courses

print(a)
print(b)
print(c)

Accounting
Chemistry
Data Analysis

## Variable Output

In [66]:
#Output Variables
p = "The course of python is so excellent"
print(p)

The course of python is so excellent

In [67]:
x = "This course"
y = "is"
z = "awesome"
print(x, y, z)

This course is awesome

In [68]:
x = "This course"
y = "is"
z = "awesome"
print(x + y + z)

This courseisawesome

In [69]:
x = 7
y = 5
print(x+y)

12

In [70]:
x = 5
y = "John"
print(x+y)
#this result show as error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [71]:
x = 4
y ="Paul"
print(x,y)

4 Paul

## Global Variables

In [72]:
#Global Variables
x = "Exciting"

def myfunc():
    print("Python is " + x)

myfunc()

Python is Exciting

In [79]:
x = "excellent"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is excellent

In [80]:
#The global Keyword
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [81]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic