## Addition

### To add 2 numbers

1st assign data into string

input a number

In [1]:
a = 2
b = 10
c = a+b
c

12

### or

In [4]:
num1=input('First number:')

First number:2

In [5]:
#back slash is given to come to next line
num2=input('\nSecond number:')

Second number:10

In [6]:
#string converting to float
sum=float(num1)+float(num2)
sum

12.0

In [7]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the sum of {0} and {1} is {2}'.format(num1,num2,sum))

the sum of 2 and 10 is 12.0

## Substraction

### To substract 2 numbers

1st assign data into string

input a number

In [8]:
a = 2
b = 10
c = b-a
c

8

## or

In [9]:
num1 = input('first number:')

first number:10

In [10]:
#back slash is given to come to next line
num2 = input('\nSecond number:')

Second number:2

In [11]:
#string converting to float
sub=float(num1)-float(num2)
sub

8.0

In [12]:
#to convert float into string format we give .format
#here inside the curly brackets we give the index numbers of each code

print('the substracted value of {0} and {1} is {2}'.format(num1,num2,sub))

the substracted value of 10 and 2 is 8.0