# Sets

A set is a collection which is unordered.

To declare a set in python we use the curly brackets.

In [27]:
set={10,20,10,30,20,40,30,50,30}
# will get all the values.
for x in set:
 print(x)

50
20
40
10
30

In [28]:
for x in set:
 print(x)

50
20
40
10
30

In [29]:
20 in set
# will return true if the value is in the set.

True

In [30]:
120 in set

False

In [31]:
50 in set

True

In [32]:
# add a value in set
set.add('pinki')
set

{10, 20, 30, 40, 50, 'pinki'}

In [33]:
set.add(120)
set

{10, 120, 20, 30, 40, 50, 'pinki'}

In [34]:
120 in set

True

In [35]:
# to remove an item from a set
set.remove('pinki')
set

{10, 20, 30, 40, 50, 120}

In [36]:
set.remove(120)
set

{10, 20, 30, 40, 50}

In [37]:
set1 ={5,10,20}
set2 ={10,20,30}
set1.issubset(set2)

#to check subset or not

False

In [38]:
set1 ={10,20}
set2 ={10,20,30}
set1.issubset(set2)

True

In [42]:
st1={4,2,3}
st2={4,3,1}
st1.issubset(st2)

False

In [43]:
St1={5,4,3}
St2={5,4,3,2}
St1.issubset(St2)

True

In [39]:
# this will return a set with the union of the two sets.
set1.union(set2)

{10, 20, 30}

In [40]:
st1={4,2,3}
st2={4,3,1}

In [41]:
st1.union(st2)

{1, 2, 3, 4}